.venv
.vscode
Storage1
Storage2
_cache
config copy.ini
config.ini
target/pylist.json
resources_rc.py
ASC_Logo.svg
test.js
__pycache__
ASC_Logo_os_emboss.svg
logo_schrift.svg
logo.svg
configs
config_example.ini
.gitignore
.restart_trigger
current_packages.txt
logs
.secret.key
.reload_trigger
themes
theme_repo_setup/themes.json
style.css