certifi==2023.5.7
charset-normalizer==3.2.0
docopt==0.6.2
idna==3.4
pipreqs==0.4.13
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQt6==6.5.1
PyQt6-Qt6==6.5.1
PyQt6-sip==13.5.1
PyQt6-WebEngine==6.5.0
PyQt6-WebEngine-Qt6==6.5.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
requests==2.31.0
urllib3==2.0.3
yarg==0.1.9
