.css-k008qs {
    display: none !important;
}

.css-14wjg5i {
    display: none !important;
}

.css-1dqy9zw {
    display: none !important;
}

.css-hbcrf5 {
    max-width: 100% !important;
}

.css-hbcrf5 {
    padding: 6px !important;
}

.css-dlfaby {
    margin-top: 0 !important;
}

.css-1lua7td {
    height: 100vh !important;
}