.css-k008qs {
    display: none !important;
}

.css-14wjg5i {
    display: none !important;
}

.css-1dqy9zw {
    display: none !important;
}

.css-hbcrf5 {
    max-width: 100% !important;
}

.css-hbcrf5 {
    padding: 6px !important;
}

.css-dlfaby {
    margin-top: 0 !important;
}

.css-1lua7td {
    height: 100vh !important;
}

body {
    background-image: url('http://localhost:3344/ASC_Logo_os_emboss.svg') !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 40% !important;
    background-blend-mode: normal !important;
    background-color: #1C2E3E !important;

    /* https: //www.svgbackgrounds.com/tools/svg-to-css/ */
}

.css-1dklj6k {
    font-size: var(--chakra-fontSizes-5xl) !important;
    color: darkkhaki !important;
    padding-top: 50px !important;
}

.logo-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    width: 200px;
    mix-blend-mode: normal;
}